*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main {
    border: 1px solid red;
    padding-top: 10;
}

h3 {
    display:inline-block;
    float: left;
    margin: 0;
}

div h3 {
display: inline-block;
float: right;
margin: 0;
}

button {
    display: block;
    align-items: center;
    background-color: #bee3db;
    padding: 10px 24px;
    border-radius: 12px;
}



#start-button {
    position: absolute;
    
}
/* .flex-container {
display: flex;
flex-direction: column;
} */
